
  .main{
    display: flex;
    justify-content: space-around;
  }
  .add_form{
    display: grid;
    width: 250px;
    text-align: left;
    height: 300px;
    gap:10
  }
  .add_form input {
    height:30px
  }
  .add_form button {
    height:30px
  } 
  .add_form select {
    height: 30px;
  }
  .delete_btn { 
    background-color: rgb(229, 68, 68);
    border: none;
    color: white;
    border-radius: 5px;
  }
  table {
    width: 50%;
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50; /* Green header */
    color: white;
  }

  tr:hover{
    background-color: #a8f6aa;
  }